flows.json
[
    {
        "id": "90354902.7b2be8",
        "type": "tab",
        "label": "Brew Process UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "337a603d.6529b",
        "type": "mqtt-broker",
        "name": "mqtt",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "6130a57.3ae875c",
        "type": "ui_tab",
        "name": "Brew Process",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d227779.547bd88",
        "type": "ui_group",
        "name": "Tank",
        "tab": "6130a57.3ae875c",
        "order": 1,
        "disp": true,
        "width": 13,
        "collapse": false
    },
    {
        "id": "719687b4.856ea8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Brew Process UI",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c87d858c.1095d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "436e8a5.df16e74",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "18143ba9.a64d04",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "69910aeb.fe1ed4",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "dc29695b.7c9818",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "70b2358a.a3676c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "a044401a.1e50f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "3abe3a7.b850dc6",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "c0f328c6.78c1e8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "d8219437.1a5bf8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "dd144d8b.b0e5f",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "b802d57a.b619f8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "2973d699.a185ba",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 15,
        "width": 5,
        "height": 1
    },
    {
        "id": "806d733.e731e9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "d227779.547bd88",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "88b052e4.8a801",
        "type": "mqtt in",
        "z": "90354902.7b2be8",
        "name": "",
        "topic": "tank/temp",
        "qos": "0",
        "datatype": "utf8",
        "broker": "337a603d.6529b",
        "x": 100,
        "y": 300,
        "wires": [
            [
                "951d1882.fd85d8"
            ]
        ]
    },
    {
        "id": "c1e35754.914428",
        "type": "mqtt in",
        "z": "90354902.7b2be8",
        "name": "",
        "topic": "tank/heat",
        "qos": "0",
        "datatype": "utf8",
        "broker": "337a603d.6529b",
        "x": 100,
        "y": 460,
        "wires": [
            [
                "a5e8b7de.96b588"
            ]
        ]
    },
    {
        "id": "951d1882.fd85d8",
        "type": "function",
        "z": "90354902.7b2be8",
        "name": "format",
        "func": "msg.payload = parseFloat(msg.payload).toFixed(2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "648217db.8b1818",
                "98077cfb.fc418"
            ]
        ]
    },
    {
        "id": "a08cd210.4ac05",
        "type": "comment",
        "z": "90354902.7b2be8",
        "name": "This flow wires the UI to sensor, actuator and controller setpoint",
        "info": "",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "648217db.8b1818",
        "type": "ui_gauge",
        "z": "90354902.7b2be8",
        "name": "Tank Temp",
        "group": "d227779.547bd88",
        "order": 2,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temp",
        "label": "degrees F",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "60",
        "seg2": "120",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "98077cfb.fc418",
        "type": "ui_chart",
        "z": "90354902.7b2be8",
        "name": "Trend",
        "group": "d227779.547bd88",
        "order": 18,
        "width": 13,
        "height": 5,
        "label": "Trend",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 590,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a5e8b7de.96b588",
        "type": "ui_gauge",
        "z": "90354902.7b2be8",
        "name": "Tank Heat",
        "group": "d227779.547bd88",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "donut",
        "title": "Heat",
        "label": "watts",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "43db47d.fabc9b8",
        "type": "inject",
        "z": "90354902.7b2be8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 100,
        "y": 580,
        "wires": [
            [
                "5858073c.6cddc8"
            ]
        ]
    },
    {
        "id": "5858073c.6cddc8",
        "type": "ui_numeric",
        "z": "90354902.7b2be8",
        "name": "Setpoint",
        "label": "Setpoint",
        "tooltip": "",
        "group": "d227779.547bd88",
        "order": 16,
        "width": 3,
        "height": 1,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "step": 1,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "f8779e7f.015b7"
            ]
        ]
    },
    {
        "id": "f8779e7f.015b7",
        "type": "mqtt out",
        "z": "90354902.7b2be8",
        "name": "controller/sp",
        "topic": "controller/sp",
        "qos": "2",
        "retain": "true",
        "broker": "337a603d.6529b",
        "x": 620,
        "y": 580,
        "wires": []
    }
]